<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Archetype Created Web Application</display-name>
    
    <context-param>
        <param-name>testDataFileLocation</param-name>
        <param-value>file:///F:/Project/Otus/JavaEE_122017/src/main/resources/data.xml</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>ru.otus.gwt.mySampleApplication.MySampleApplication MySampleApplicationService</servlet-name>
        <servlet-class>ru.otus.gwt.server.MySampleApplicationServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ru.otus.gwt.mySampleApplication.MySampleApplication MySampleApplicationService</servlet-name>
        <url-pattern>/MySampleApplication/MySampleApplicationService</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

    <session-config>
        <session-timeout>10</session-timeout>
        <!--<cookie-config>-->
            <!--<max-age>600</max-age>-->
        <!--</cookie-config>-->
    </session-config>

    <!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>All servlets</web-resource-name>-->
            <!--<url-pattern>/*</url-pattern>-->
        <!--</web-resource-collection>-->
        <!--<user-data-constraint>-->
            <!--<transport-guarantee>CONFIDENTIAL</transport-guarantee>-->
        <!--</user-data-constraint>-->
    <!--</security-constraint>-->
</web-app>
